h1 {
    font-size: 1em;
    text-align: center;
    padding: 20px;
    margin-left: 200px;
    margin-top: 20px;
}

h2 {
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    padding: 2px;
    margin-left: 200px;
    margin-top: 120px;
}

.bg-color {
    background-color: black;
    min-width: 150px;
}

.images_people-on-mountain {
    background-image: url("/Images/IMG_p-on-top1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0;
}

.ski-dogs-cabin {
    display: grid;
    grid-template-rows: 1fr;
}

.our-story {
    background-color: #F7F8F8;
    font-size: .7rem;
    padding: 10px;
}

 .img-skiing {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-dogs {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-cabin {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

@media (min-width: 680px) {

h1 {
font-size: 1.5rem;
}

h2 {
    margin-left: 400px;
    margin-top: 180px;

}

.bg-color {
    max-width: 200px;
}

.images_people-on-mountain {
    height: 70vh;
}

}

@media (min-width: 800px) {

.images_people-on-mountain {
    width: 65%;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    margin-left: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    margin-left: 350px;
    margin-top: 0px;
}

 .our-story {
    width: 30%;
    font-size: 0.4rem;
    margin-left: 260px;
    margin-top: -265px;
}

.ski-dogs-cabin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vh;
    margin-left: 580px;
    margin-top: -480px;
    margin-bottom: 100px;
} 

}




   
