h1 {
    text-align: center;
    box-sizing: content-box;
    font-size: .7rem;
    margin-top: -255px;
    margin-left: 150px;
}

h2 {
    text-align: center;
    color: #fff;
    width: 170px;
    margin-left: 180px;
    margin-top: 120px;
    padding: 5px;  
}

.our-story {
    background-color: #F7F8F8;
    font-size: .7rem;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.images_people-on-mountain {
    background-image: url("/Images/IMG_p-on-top.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

 .img-skiing {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-dogs {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-cabin {
    background-image: url("/Images/IMG_cabin.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

@media (min-width: 680px) {

h1 {
    font-size: 1.2rem;
    margin-top: -455px;
    margin-left: 380px;
    max-width: 200px;  
}

h2 {
    margin-left: 380px;
    margin-top: 140px; 
}

}

@media (min-width: 800px) {
    
}