h1 {
    font-size: 1em;
    text-align: center;
    padding: 20px;
    margin-left: 200px;
    margin-top: 20px;
}

h2 {
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    padding: 2px;
    margin-left: 220px;
    margin-top: 240px;
}

.bg-color {
    background-color: black;
}

.images_people-on-mountain {
    background-image: url("/Images/IMG_p-on-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0;
}

.our-story {
    background-color: #F7F8F8;
    font-size: .7rem;
    padding: 10px;
}

 .img-skiing {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-dogs {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-cabin {
    background-image: url("/Images/IMG_cabin.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

@media (min-width: 680px) {

h2 {
    margin-left: 460px;
    margin-top: 410px;
}

.bg-color {
    max-width: 200px;
}

.images_people-on-mountain {
    height: 70vh;
}

}

@media (min-width: 800px) {

.ski-dogs-cabin {
    display: flex;
    flex-direction: column;
} 



}




   
