h1 {
    text-transform: uppercase;
    border: 2px solid #BFB6B6;
    background-color: #ffffff;
    padding: 60px 40px;
    text-align: center;
    margin: 20px;
}

fieldset {
    font-size: 0.7rem;
    background-color: #ffffff;
    border: 2px solid #D9D9D9;
}

fieldset p {
    text-align: center;
    line-height: 25px;
    font-size: 0.7em;
    color: #0a3641;
}

.sale {
    color: #E71111;
}

.img-jacket {
    width: 60%;
    margin-left: 50px;
}

.img-tent {
    display: flex;
    width: 85%;
    margin: 20px;
    margin-bottom: 40px;
}

.button__continue {
    background-color: #0a3641;
    color: #ffffff;
    font-size: 0.5em;
    width: 200px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
}


@media (min-width: 400px) {

.button__continue {
    width: 250px;
    margin-left: 55px;
}

.img-jacket {
    width: 40%;
    margin-left: 100px;
}

}

@media (min-width: 600px) {

fieldset {
    display: flex;
}

fieldset p {
    text-align: left;
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
}

.button__continue {
     width: 350px;
    margin-left: 85px;
}
    
.img-jacket {
    width: 30%;
    margin-top: 10px;
    margin-left: 0px;
}
    
}

@media (min-width: 800px) {

.img-jacket {
    width: 20%;
    margin-left: 20px;
}

}