h1 {
    font-size: x-small;
    margin-left: 10px;
}

h2 {
    color: #0a3641;
    font-size: xx-small;
    margin-left: 10px;
}

.text__color {
    color: #0a3641;
}

.text__products {
    color: #0a3641;
    font-size: 1rem;
    margin: 0% 5%;
    text-decoration: none;
}

.buttons__grey {
    background-color: #BFB6B6;
    color: #0a3641;
    border-color: #0a3641;
    padding: 10px 40px;
}

.button__continue {
    background-color: #0a3641;
    color: #ffffff;
    padding: 10px 50px;
    width: 20%;
}

@media (min-width: 600px) {

h1 {
    font-size: x-small;
    margin-left: 20px;
}
    
h2 {
    color: #0a3641;
    font-size: xx-small;
    margin-left: 20px;
}

.buttons__grey {
    padding: 10px 50px;
    width: 20%
}

}