h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.submit__button {
    background-color: #0a3641;
    color: #ffffff;
    padding: 10px 80px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: x-small;
}

.images_people-on-mountain {
    background-image: url("../Images/img-201912312113053961-on-the-top.jpg");
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    margin-left: 100px;
    block-size: 25vh;
}

.text_contact-hours {
    display: grid;
    grid-template-rows: repeat(6, .5fr);
    font-size: x-small;
    color: #0a3641;
}

.text__products {
    color: #0a3641;
    font-size: .8rem;
    text-decoration: none;
}

.form__input {
    display: block;
}

@media (min-width: 680px) {

.submit__button {
    padding: 10px 50px;
    width: 20%;
}
}