.background-picture-mountain {
    background-image: url('../Images/image-mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    padding: 1%;
    margin: 3%;
}

/*text, first section*/
.first_section {
    text-align: center;
}

.cta-button {
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
}

/*jackets*/

.flex-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .6rem;
}

.flex-container-div {
    width: 180px;
    text-align: center;
    background-color: #25ACD2;
    flex-direction: column;
    padding: 1em;
}

.img-flex {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.logo-cta-button {
    background-color: #0a3641;
    color: #ffffff;
    padding: 10px;
}

.sale {
    color: #E71111;
}

.images-of-active-people-in-mountain {
    background-image: url("/Images/image-13-bg-picture-people-walking.jpg");    
    background-size: cover;
    min-height: 150px;
    background-repeat: no-repeat;
    padding: 2%;
    margin-left: 2%;
    margin-top: -185px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.images-smiling-people {
    background-image: url("/Images/IMG_smiling-people.png");
    display: block;
    block-size: 280px;
    background-repeat: no-repeat;
    max-width: 100%;
}


.images-people-on-top-of-mountain {
    background-image: url("/Images/IMG_people-on-top-of-mountain.png");
    display: block;
    block-size: 280px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.images-people-climbing {
    background-image: url("/Images/IMG_people-climbing.png");
    display: block;
    block-size: 280px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.guy-is-standing-frozen-lake {
    background-image: url("/Images/guy-is-standing-frozen-lake.png");
    display: block;
    block-size: 280px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.images-of-active-people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #25ACD2;
    gap: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

@media (min-width: 680px) {

.images-of-active-people {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #25ACD2;
    padding-top: 10px;
    padding-bottom: 10px;
}
}

@media (min-width: 800px) {

h2 {
    margin-bottom: 40px;
}

}