.background-picture-mountain {
    background-image: url('../Images/image-mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    padding: 1%;
    margin: 3%;
}

/*text, first section*/
.first_section {
    text-align: center;
}

.cta-button {
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
}

.logo-cta-button {
    display: flex;
    background-color: #0a3641;
    width: 168.812px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    margin-left: 80px;  
    margin-bottom: 40px;
}

/*jackets*/

.flex-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .6rem;
}

.flex-container-div {
    width: 250px;
    text-align: center;
    background-color: #25ACD2;
    flex-direction: column;
    padding: 1em;
}

.img-flex {
    display: block;
    margin: 0 auto;
    max-width: 100%;
   
}

.jackets_line p {
    width: 200px;
    text-align: center;
    padding-top: 0px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.sale {
    color: #E71111;
}

.images-of-active-people-in-mountain {
    background-image: url("/Images/image-13-bg-picture-people-walking.jpg");    
    background-size: cover;
    min-height: 150px;
    background-repeat: no-repeat;
    padding: 2%;
    margin-left: 2%;
    margin-top: -185px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.images-smiling {
    background-image: url("../Images/img-202005181725093421-smiling.jpg");
    padding: 200px 0px 0px 0px;
    background-repeat: no-repeat;
}

.on-the-top {
    background-image: url("/Images/IMG_20191231_211305_396\ 1.png");
    padding: 200px 0px 0px 0px;
    background-repeat: no-repeat;
}

.climbing {
    background-image: url("../Images/dsc-00861-climbing.jpg");
    padding: 200px 0px 0px 0px;
    background-repeat: no-repeat;
}

.boy-with-kayak {
    background-image: url("/Images/image-16-boy-with-kayak.jpg");
    padding: 200px 0px 0px 0px;
    background-repeat: no-repeat;
}

.images-of-active-people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #25ACD2;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 680px) {

.cta-button {
    padding: 10px 50px;
}

.jackets_line {
    grid-template-columns: repeat(2, 1fr);
    
}

.jackets_line p {
    padding-left: 20px;
    padding-bottom: 10px;
}

.img_logo {
    margin-bottom: 20px;
}

.images-of-active-people {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #25ACD2;
    padding-top: 10px;
    padding-bottom: 10px;
}
}

@media (min-width: 800px) {

h2 {
    margin-bottom: 40px;
}

.jackets_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jackets_line img {
    width: 60%;
    margin: 0px;
}

.jackets_line p {
    width: 120px;
    font-size: 0.5rem;
    text-align: left;
    margin: 0px;
    padding-left: 0px;
    padding-top: 20px;
}

.logo-cta-button {
    font-size: .56rem;
    padding: 10px;
    width: 120px;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

}