/*img belongs to logo and adjusts pictures*/

.background-picture-mountain {
    display: flex;
    background-image: url('../Images/image-mountain.jpg');
    height: 408.687px;
    margin: 0% 5%;
    border-color: #ffffff; 
    border: 10px;
    background-repeat: no-repeat;
}

.cta-button {
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
}

.logo-cta-button {
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-small;
    padding: 5%;
}

/*jackets*/

.jackets_line {
    display: grid;
    grid-template-columns: 1fr;
    font-size: smaller;
    text-decoration: none;
}

.jackets_line img {
    width: 40%;  
}

.images_people-walking {
    background-image: url("../Images/image-13-bg-picture-people-walking.jpg");    
    padding: 200px 0px 200px 0px;
    background-repeat: no-repeat;
    margin-top: 0px;
}

.images-smiling {
    background-image: url("../Images/img-202005181725093421-smiling.jpg");
    block-size: 3vh;
    padding: 200px 0px 200px 0px;
    background-repeat: no-repeat;
}

.on-the-top {
    background-image: url("../Images/img-201912312113053961-on-the-top.jpg");
    block-size: 3vh;
    padding: 200px 0px 200px 0px;
    background-repeat: no-repeat;
}

.climbing {
    background-image: url("../Images/dsc-00861-climbing.jpg");
    block-size: 3vh;
    padding: 200px 0px 200px 0px;
    background-repeat: no-repeat;
}

.boy-with-kayak {
    background-image: url("../Images/image-16-boy-with-paddel.jpg");
    block-size: 3vh;
    padding: 200px 0px 200px 0px;
    background-repeat: no-repeat;
}

.images-of-active-people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #25ACD2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 600px) {

.cta-button {
    padding: 10px 50px;
}

.jackets_line {
    grid-template-columns: repeat(1, 1fr);
   justify-content: space-evenly;
}
    
.color_background {
    background-color: #25ACD2;
}

.jackets_line img {
    width: 60%;  
}
    
.images_people-walking {
    background-image: url("../Images/image-13-bg-picture-people-walking.jpg");    
    padding: 200px 0px 200px 0px;
    max-height: 200px;
    background-repeat: no-repeat;
    margin: center;
    margin-top: 0px;
}

.images-of-active-people {
    display: grid;
    grid-template-columns: repeat(4, 8fr);
    background-color: #25ACD2;
    padding-top: 20px;
    padding-bottom: 20px;
}
}

@media (min-width: 800px) {

.cta-button {
    padding-inline-start: 280px;
    padding: 20px 40px;
}
}