h1 {
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-size: 0.8rem;
    margin: 0px;    
}

p {
    font-size: 0.5em;
    color: #0a3641;
}

.img_jacket {
    display: block;
    width: 60%;
    padding-left: 60px;
}

.details-jacket {
    display: block;
    width: 60%;
    padding-left: 60px;
    margin-top: 20px;
}

.img_product-information {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.add-to-cart-button {
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.5em;
    font-weight: 600;
    text-align: right;
    padding: 10px 40px;
}

.sale {
    color: #E71111;
    font-size: x-small;
}

@media (min-width: 680px) {

h1 {
    font-size: 1.2rem;
    margin-bottom: 10%;
}

.img_jacket {
    width: 30%;
}

}