h1 {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-size: 0.7rem;
    margin: 10px;    
}

.jacket-specific-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.5rem;
    padding-top: 0px;
    text-align: center;
}

.img_jacket {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.details-jacket {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container-product-information {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    color: #0a3641;
    font-size: 0.5rem;
    padding-top: 0px;
    text-align: center;
}

.add-to-cart-button {
    display: block;
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    font-size: 0.5rem;
    font-weight: 600;
    padding: 10px 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sale {
    color: #E71111;
    font-size: 0.6rem;
}

@media (min-width: 680px) {

h1 {
    font-size: 1.2rem;
    margin-bottom: 10%;
}

.img_jacket {
    width: 30%;
}

}