h1 {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-size: 0.7rem;
    margin: 10px;    
}

.jacket-specific-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.5rem;
    padding-top: 0px;
    text-align: center;
}

.img-jacket {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.details-jacket {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container-product-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.5rem;
    padding-top: 0px;
    text-align: center;
    color: #0a3641;
    padding-top: 40px;
}

.add-to-cart-button {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 10px;
}

.sale {
    color: #E71111;
    font-size: 0.6rem;
    text-align: center;
}

@media (min-width: 600px) {

.jacket-specific-container {
    float: left;
    width: 50%;
}

.container-product-information {
    float: left;
    width: 50%;
}

.container-product-information {
    text-align: left;
    padding-top: 20px;
}

.sale {
    text-align: left;
}

.add-to-cart-button {
margin: 0px;
text-align: center;
}

}

@media (min-width: 680px) {

.container-product-information {
    max-width: 450px;
}
    
}