/*section one and two*/
.item {
    background-color: #d9d9d9;
    padding: 60px;
}

.jackets_section-one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 20px auto;
    grid-gap: 10px
}

.img_section {
    width: 60%;
}

.item_two {
    background-color: #B0CCD3;
    padding: 60px;
}

.jackets_section-two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 20px auto;
    grid-gap: 10px
}

floated {
    float: left;
}



