header {
  display: flex;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 40px;
}

.bg_color-grey {
  background-color: #d9d9d9;
  padding: 20px;
  margin-top: 20px;
}

.bg_color-blue {
  background-color: #b0ccd3;
  padding: 20px;
  margin-top: 20px;
}

.sale {
  color: #e71111;
  font-weight: bolder;
}

.jackets-container-one {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.5rem;
  padding-top: 0px;
  text-align: center;
}

.div-container {
  width: 180px;
  text-align: center;
  padding: 1em;
  background-color: #d9d9d9;
  border: 10px solid #fff;
}

.div-container2 {
  width: 180px;
  text-align: center;
  padding: 1em;
  background-color: #b0ccd3;
  border: 10px solid #fff;
}

.img-jacket2 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.img-jacket5 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 16px;
}

.img-jacket6 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  padding-top: 8px;
}

.img-jacket7 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  padding-top: 10px;
}

.jackets-container-two {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.5rem;
  padding-top: 0px;
  text-align: center;
}

.img-jacket1 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  padding-top: 6px;
}

.img-jacket3 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  padding-top: 8px;
}

.img-jacket4 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  padding-top: 13px;
}

.logo-text {
  width: 180px;
  text-align: center;
  padding: 1em;
  background-color: #b0ccd3;
  border: 10px solid #fff;
}

.img-logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 400px) {

.div-container {
  width: 30%;
}

.div-container2 {
  width: 30%;
}

.logo-text {
  width: 30%;
}

}

@media (min-width: 600px) {

.jackets-container-one {
gap: 0px;
flex-wrap: nowrap;
}

.jackets-container-two {
gap: 0px;
flex-wrap: nowrap;
}

.div-container {
  width: 50%;
}

.div-container2 {
  width: 50%;
}

.logo-text {
  width: 50%;
}

}

@media (min-width: 800px) {

.img-jacket5 {
  padding-bottom: 26px;
}

}

@media (min-width: 1000px) {
 
.img-jacket5 {
  padding-bottom: 0px;
}

}