html {
    background-color: #bfb6b6;
}

body {
    background-color: #ffffff; 
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: #0a3641;
    font-size: 1.2em;
    margin-bottom: 40px;
}

h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 0.7em; 
    margin: 30px; 
}

header {
    background-color: #DEF3F8;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;     
}

input[type=text] {
    width: 60%;
    font-size: 0.5em;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #bfb6b6;
    border-radius: 3px;
    background-color: #ffffff;
}

form {
    width: 120px;
    margin-left: 20px;
    margin-right: 0px;
}

.fa-solid {
    font-size: 0.8em;
}

nav {
    margin-left: 0px;
    display: none;
    position: fixed;
    top: 75px;
    background-color: #DEF3F8;
    z-index: 1000;
    right: 180px;
}

.active-nav {
    text-decoration: none;
    color: #0A3641;
}

nav li {
    display: block;
    padding: 6px;
    font-size: 0.5rem;
}

nav ul {
    padding: 15px;
    margin: 0px;
}

.logo {
    block-size: 7vh; 
    margin-left: 10px;
    margin-right: 30px;
}

/*Footer*/
footer {
    background-color: #DEF3F8;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color:#0a3641; 
    height: auto;
    font-size: xx-small;  
}

.flex-container-footer {
    display: flex;
    margin-top: 20px;
}

/*color for header Women's and Men's*/
.active {
    color: #000077;
    text-decoration: none;
}

/*This is for quick links in the footer*/
.active-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000077;
    text-decoration: none;
    margin-left: 20px;
}

/*this makes the color green and underline disappear*/
.quick-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration:none;
    color: #0a3641;
    margin-left: 20px;
}

.logo-footer {
    display: flex;
    max-width: 100px;
    padding-top: 20px;
    padding-left: 20px;
}

/*icon facebook and instagram*/
.--icons {
    color: #0A3641;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.footer-text {
    max-width: 35ch;
    margin: 0% 5%;
}

.wrapper {
    display: inline-block;
    padding-top: 20px;  
}

/*this is the copyright section, the logo needs fixing*/
.Copyright {
    background-color: #bfb6b6;
    font-size: xx-small;
    padding: 20px 40px;
}

@media (min-width: 680px) {
/*remove bg-color when finish*/
html {
background-color: #E71111;
}
header {
    gap: 0px;
}

header label {
    display: none;
}

.logo {
    margin-right: 20px;
}

nav {
    display: block;
    position: static;
}

.active {
    font-size: 0.7rem;
}

.active-nav {
    text-decoration: none;
    color: #0A3641;
    font-size: 0.7rem;
}

nav li {
    display: inline-block;
}

footer {
    font-size: small;  
}

.wrapper {
    padding: 40px;
}

/*This is for quick links in the footer*/
.active-footer {
    margin-left: 0px;  
}

/*this makes the color green and underline disappear*/
.quick-links {
    font-size: smaller;
    margin-left: 0px;
}

/*icon facebook and instagram*/
.--icons {
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.Copyright {
    font-size: small;
    padding: 10px 30px;
    text-align: left;
}

}

/*testing out area for tablet*/
@media (min-width: 800px) {
    
html {
    background-color: #bfb6b6;
}

form {
    width: 150px;
}

input#search-field {
    width: 120px;
}

.active {
font-size: 0.8rem;
}

.active-nav {
    font-size: 0.8rem;
}

.logo {
    margin-right: 50px;
}

.Copyright {
    background-color: #bfb6b6;
    font-size: small;
    padding: 10px 30px;
    text-align: left;
}

}

@media (min-width: 1000px) {

nav {
    margin-right: 50px;
}
.logo {
    margin-left: 40px;
    margin-right: 200px;
}

}